.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  height: 400px;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 16px;
  background-color: #f1f1f1;
  font-weight: 700;
  height: 20px;
}
.modal > section > header button {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  font-size: 30px;
  text-align: center;
  color: mediumpurple;
  cursor: pointer;
}
.modal > section > main {
  height: 200px;
  padding: 10px;
  form {
    height: 400px;
    input, textarea {
      height: 20px;
    }
    button {
      margin-top: 10px;
      height: 30px;
      width: 100px;
      border-radius: 5px;
    }
  }
  .plan {
    height: 30px;
  }
}
.modal > section > footer {
  padding: 10px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}
.modal > section > footer button {
  padding: 10px;
  height: 40px;
  display: flex;
  background-color: mediumpurple;
  color: floralwhite;
  border-radius: 5px;
  font-size: 13px;

}
.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}