.viewPage {
  .calendarForm {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;

.buttonGroup {
  height: 100px;
  width: 100%;
  background-color:azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn {
    height: 50px;
    width: 40px;
    cursor: pointer;
  }
  .month {
    font-size: 30px;

  }

}

    .days {
      height: 50px;
      width: 100%;
      background-color: aquamarine;
      display: flex;
      .daysName {
        width: 20%;
        height: 90px;
        border: 1px black solid;
      }
    }

    .dates {
      height: 50px;
      width: 100%;
      background-color: thistle;
      display: flex;
      .date {
        width: 20%;
        height: 90px;
        border: 1px black solid;
      }
    }

    .events {
      height: 100px;
      width: 100%;
      background-color:silver;
      display: flex;
      .event{
        width: 20%;
        height: 90px;
        border: 1px black solid;
      }
    }

  }
  .bottomSide {
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .btn {
      height: 50px;
      width: 100px;
    }
  }
}